
* {
    margin: 0px auto;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
}
.cont_principal {
    position: absolute;
    width: 100%;
    height: 100%;
    /* Rectangle 3: */
    background-image: linear-gradient(-87deg, #212121 08%, #303030 100%);
}

.cont_centrar {
    position: absolute;
    width: 320px;
    left:50%;
    top:50%;
    margin-left: -160px;
    margin-top: -160px;
}

.cont_centrar {
    position: relative;
    width: 320px;
    float: left;
    background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);

    border-radius: 8px;
    transition: all 0.5s;
}

.cent_active {
    box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.21);
}


.nav-pills > li > a {
    border-radius: 4px;
    background-color: #424242;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:hover,
.nav-pills > li.active > a:focus {
    /*color: #fff;
    background-color: #428bca;*/
    color: #BEE6CC;
    box-shadow: 0px 0px 2px 2px #212121;
    background-color: #686868;
}

#p-1-box-13 {
    width: 600px;
    height: 123px;
    opacity: 1;
    -webkit-filter: none;
    filter: none;


    line-height: 123px;
    letter-spacing: 0px;
    color: rgb(177, 217, 231);
    font-family: Roboto;
    font-style: italic;
    font-weight: lighter;
    font-size: 100px;
    text-align: center;

}
.Landing{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    position: absolute;
}
.AccountChooser{
    margin-top: 30px;
    width: 600px;
    height: 123px;
    opacity: 1;
    -webkit-filter: none;
    filter: none;
    font-weight: 100;
    text-align: center;

    font-size: 40px;
    letter-spacing: 0px;
    color: rgb(177, 217, 231);
    font-family: Roboto;

}
