
/*
.borderedRed{
    border: 10px solid;
    border-image: repeating-linear-gradient(45deg,rgba(229, 57, 53, 0.64),rgba(171, 0, 13, 0.64) 10px,#ffebee 10px, #ffffff 20px) 12/12px;
    background-color: #BEE6CC;
}
.borderedGreen {
    border: 10px solid;
    border-image: repeating-linear-gradient(45deg, rgba(167, 224, 165, 0.64), rgba(200, 230, 201, 0.64) 10px, #fbfffc 10px, #ffffff 20px) 12/12px;
}
.borderedBrown {

    border: 10px solid;
    border-image: repeating-linear-gradient(-45deg, rgba(109, 76, 65, 0.64), rgba(75, 44, 32, 0.64) 10px, #fffffb 10px, #ffffff 20px) 12/12px;
}*/

.panel-contents{
    /*background-color: rgb(242, 234, 213);*/
    padding: 3px;
}
.panel-heading-title{
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-style: italic;
    font-size: large !important;
}

.grid {
    background-color: #BEE6CC;

}

.grid-item {
    font-family: Lato,Helvetica,Arial,sans-serif;
    /*font-style: italic;
    font-weight: lighter;*/
    clear: left;
    float: left;
    width: 100%;
    background-color: #E0FEF4;
    border: 5px solid #BEE6CC;
}

.grid-item a {
    display: block;
    position: relative;
}

.card{
    background-color: #FFFFFF;
    padding-bottom: 1px;
    /*border-style: solid;*/
    box-shadow: 0px 0px 3px 2px rgba(4, 44, 108, 0.2);
    border-radius: 8px;
}

.card-header{
    margin-top: 3px;
    font-family: Arial, sans-serif;
    background-color: #E0E0E0;
}
.card-block{
    margin: 10px;
    background-color: #F5F5F5;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.row{
    display: inline;
}