
* {
    margin: 0px auto;
    padding: 0px;
}

:root{
    --proPicSize: 55px;
}

.wrapper {
    display: flex;
}
h3 {
    text-align: center;
}
h4 {
    color: #EC695F;
}
#userPicture {
    width: var(--proPicSize);
    height: var(--proPicSize);
    background-color: #1b6d85;
    margin: 5%;
    display: inline-block;

}

#sidebar {
    left: 0px;
    float: right;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    background-image: linear-gradient(-87deg, #042c6c 08%, #053787 100%);
    /*background-color: rgb(177, 217, 231);*/
}

#fullPage{
    height: auto;
    overflow: hidden;
}

#viewPanel{
    background-color: mintcream;
    /*background-image: linear-gradient(-87deg, #042c6c 08%, #053787 100%);*/
    /*width: 100%;*/
    font-family: 'Trebuchet MS';
    left: 250px;
    right: inherit;
    position: absolute;
    width: auto;
    overflow: hidden;
}

/*bootsrtap example*/

#sidebar ul.components {
    padding: 20px 0;
    /*border-bottom: 1px solid #47748b;*/
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    text-align: center;
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin-top: 3px;
    margin-bottom: 3px;
    background: pink;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.header > a, a[aria-expanded="true"] {
    font-size: larger;
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

a[aria-expanded="false"]::before, a[aria-expanded="true"]::before {
    content: '\e259';
    display: block;
    position: absolute;
    right: 20px;
    font-family: 'Glyphicons Halflings';
    font-size: 0.6em;
    color: #ff0000;
}
a[aria-expanded="true"]::before {
    content: '\e260';
    color: pink;
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}
/*end bootstrap example css*/


#mainHeader{
    width: inherit;
    background-color: rgba(167,224,165,1);
    padding: 5px;

}

button{
    width: 100%;
}
#addNewClass{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    transform: translateY(-20%);
}
#newClassDiv{
    position: relative;
    /*top: 40%;*/
    bottom: 10px;
}
#settingsLogo{
    top: 50%;
    float: left;
    display: inline-block;
    transform: translateY(50%);
    margin: 10px;
}

nav{
    font-family: Roboto;
    position: fixed;

}
/*
.borderedRed{
    border: 10px solid;
    border-image: repeating-linear-gradient(45deg,rgba(229, 57, 53, 0.64),rgba(171, 0, 13, 0.64) 10px,#ffebee 10px, #ffffff 20px) 12/12px;
    background-color: #BEE6CC;
}
.borderedGreen {
    border: 10px solid;
    border-image: repeating-linear-gradient(45deg, rgba(167, 224, 165, 0.64), rgba(200, 230, 201, 0.64) 10px, #fbfffc 10px, #ffffff 20px) 12/12px;
}
.borderedBrown {

    border: 10px solid;
    border-image: repeating-linear-gradient(-45deg, rgba(109, 76, 65, 0.64), rgba(75, 44, 32, 0.64) 10px, #fffffb 10px, #ffffff 20px) 12/12px;
}*/
.panel-contents{
    /*background-color: rgb(242, 234, 213);*/
    padding: 3px;
}
.panel-heading{
    color: #45c9f7;
}
.panel-heading-title{
    font-family: Arial,sans-serif;
    text-transform: uppercase;
    letter-spacing: .1em;
    font-style: italic;
    font-size: large !important;
}

.grid {
    background-color: #BEE6CC;

}

.grid-item {
    font-family: Lato,Helvetica,Arial,sans-serif;
    /*font-style: italic;
    font-weight: lighter;*/
    clear: left;
    float: left;
    width: 100%;
    background-color: #E0FEF4;
    border: 5px solid #BEE6CC;
}

.grid-item a {
    display: block;
    position: relative;
}

.card{
    background-color: white;
    /*border-style: solid;*/
    box-shadow: 0px 0px 3px 2px rgba(4, 44, 108, 0.2);
    border-radius: 8px;
}

.card-header{
    margin-top: 3px;
    font-family: Arial, sans-serif;
}
.card-block{
    margin: 5px;
}
.row{
    display: inline;
}